<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Profile</title>    
  </head>
  <body>
    <form action="/user/update/<%= user.id %>" method="post">
      <h3> Name </h3>
      <input type="text" name="name" value="<%= user.name %>">
      <h3> Username </h3>
      <input type="text" name="username" value="<%= user.username %>">
      <h3> Password </h3>
      <input type="text" name="password" value="<%= user.password %>">
      <h3> Email </h3>
      <input type="text" name="email" value="<%= user.email %>">
      <h3> Phone </h3>
      <input type="text" name="phone" value="<%= user.phone %>">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>