<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light">
      <% include ./partials/nav %>
    </nav>
  </div>

  <div class="container">
      <div style="background:#41295a !important" class="jumbotron">
      <div class="container">
        <h1 class="text-white">STORYOVERFLOW</h1>
        <p class="text-white">let's get rid your writer's block with us.</p>
      </div>
    </div>
    <div class="jumbotron" style="background:#f0f0f0 !important" >
      <div class="row">
        <%for(let i=0; i<stories.length; i++){%>
          <div class="col-6 col-md-4" style=" margin-bottom: 30px">
            <div class="card text-center">

            <%if(!user.token || user.token === false){%>
          <a href="/story/<%-stories[i].id%>">
            <div class="card-header">
                <b><%-stories[i].username%></b>
            </div>
          </a>
            <%}else{%>
          <a href="/user/<%-user.id%>/idea/story/<%-stories[i].id%>">
            <div class="card-header">
                <b><%-stories[i].username%></b>
            </div>
          </a>
            <%}%>

              <div class="card-block">
                <h4 class="card-title"><%-stories[i].title%></h4>
                <p>
                  <a href="/user/<%-user.id%>/idea/story/<%-stories[i].id%>">
                    <%-stories[i].question%>
                  </a>
                </p>

                <button class="btn btn-secondary" data-toggle="modal" data-target=".bd-example-modal-lg<%-i%>">Read Story</button>
              </div>
              <div class="card-footer text-muted">
                <%let date = new Date();
                let day = date.getDate();
                let dayStory=stories[i].createdAt.getDate()
                let res = day-dayStory;
                let a='';
                if(res===0)
                  a='Today'
                else if(res===1)
                  a='a Day Ago'
                else a=`${res} Day Ago`
                %>
                  <%-a%>
              </div>
            </div>
            <!-- Large modal -->
            <div class="modal fade bd-example-modal-lg<%-i%>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content" align="center">
                  <h4><%-stories[i].title%></h4>
                  <p>
                    <%-stories[i].story%>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <%}%>
  </div>
</div>

  <div class="container">
      <hr>
        <footer class="bd-footer text-muted">
      <div class="container">
        <p>&copy; JS Mabok Coding 2017
          <ul class="bd-footer-links" style="float:left">
            <li><a href="https://github.com/jamessraun/storyoverflow" target="_blank">GitHub</a></li>
            <li><a href="https://twitter.com/Saputrolovski" target="_blank">Twitter</a></li>
          </ul></p>
      </div>
    </footer>
  </div>
</body>

</html>
