<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <% include ./partials/nav %>
  </nav>

  <div class="container" style="margin-top:30px">
    <div class="jumbotron">

      <form action="/user/mystories/add/1" method="post">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" name=title>
        </div>
        <div class="form-group">
          <label>Premise</label>
          <input type="text" class="form-control" name=premise>
        </div>
        <div class="form-group">
          <label>Note</label>
          <input type="text" class="form-control" name=question>
        </div>

        <div class="form-group">
          <label>MyStory</label>
          <textarea class="form-control" name="story" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>

  <div class="container" style="margin-top:60px">
    <div class="jumbotron">
      <div class="row" style=" margin-bottom: 30px">
        <%for(let i=0; i<stories.length; i++){%>
          <div class="col-6" style=" margin-bottom: 30px">
            <div class="card text-center">
              <div class="card-header">
                <b><%-stories[i].username%></b>
              </div>
              <div class="card-block">
                <h4 class="card-title"><%-stories[i].title%></h4>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <p>
                  <a href="#">
                    <%-stories[i].question%>
                  </a>
                </p>

                <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg<%-i%>">Read Story</button>
              </div>
              <div class="card-footer text-muted">
                <%let date = new Date();
                let day = date.getDate();
                let dayStory=stories[i].createdAt.getDate()
                let res = day-dayStory;
                let a='';
                if(res===0)
                  a='Today'
                else if(res===1)
                  a='a Day Ago'
                else a=`${res} Day Ago`
              %>
                  <%-a%>
              </div>
            </div>
            <!-- Large modal -->
            <div class="modal fade bd-example-modal-lg<%-i%>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content" align="center">
                  <h4><%-stories[i].title%></h4>
                  <p>
                    <%-stories[i].story%>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <%}%>
      </div>
    </div>
  </div>

</body>

</html>
